@{
    ViewData["Title"] = "Home Page";
}


@section Scripts
{
    <script>
        function sumOfTwoValues() {
        
        const firstnumber = document.getElementById("firstnumber").value;
        const secondnumber = document.getElementById("secondnumber").value;
        
        
        const sum = parseInt(firstnumber) + parseInt(secondnumber);
        alert("The sum of the two value is " + sum)
        
        }
    </script>
}



<div class="text-center">
  <body>
    <h1>Additon calculator</h1>
    <p>Input two values to find the sum.</p>

    <div class="input-group">
        <span class="input-group-text">First Number</span>
        <input type="number" aria-label="First Number" class="form-control" id="firstnumber">
    </div>
        <div class="input-group">
        <span class="input-group-text">Second Number</span>
        <input type="number" aria-label="First Number" class="form-control" id="secondnumber">
    </div>

    <button type="button" onclick="sumOfTwoValues()" class="btn btn-primary">Calculate</button>
    <p id="word"></p>
  </body>
</div>