DotNet/HelloWorld/bin
DotNet/HelloWorld/obj
DotNet/PalindromeDetectCSharp/bin
DotNet/PalindromeDetectCSharp/obj
DotNet/NumberGuessingGame/obj
DotNet/NumberGuessingGame/bin
DotNet/Object-Oriented/obj
DotNet/Object-Oriented/bin
DotNet/FileAccess/obj
DotNet/FileAccess/bin
DotNet/DateAndTime/obj
DotNet/DateAndTime/bin
DotNet/DateAndTime/.vscode
DotNet/ExceptionHandling/.vscode
DotNet/ExceptionHandling/obj
DotNet/ExceptionHandling/bin
DotNet/AspNetCalulator/.vscode
DotNet/AspNetCalulator/obj
DotNet/AspNetCalulator/bin
/DotNet/LinqDemo/LinqDemo/bin
/DotNet/LinqDemo/LinqDemo/obj
/DotNet/LinqDemo/.vscode
DotNet/AspNetCalulator/bin
DotNet/BlazorHelloWorld/obj
DotNet/BlazorHelloWorld/.vscode
DotNet/BlazorHelloWorld/bin
DotNet/LinqQuery/bin
DotNet/LinqQuery/obj
DotNet/LinqQuery/.vscode
DotNet/ToDoApi/obj
DotNet/ToDoApi/.vscode
DotNet/ToDoApi/bin
DotNet/NorthwindHttpDemo/.vscode
DotNet/NorthwindHttpDemo/obj
DotNet/NorthwindHttpDemo/bin
DotNet/NorthwindHttpDemo/.vs
Python/Hello_Flask/__pycache__/app.cpython-311.pyc
Python/Hello_Flask/__pycache__/hello_flask.cpython-311.pyc
Python/__pycache__/NumGuessWebApi.cpython-311.pyc
Python/__pycache__/TestFlask.cpython-311.pyc
