DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.deps.json
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.dll
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.exe
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.pdb
DotNet/HelloWorld/bin/Debug/net7.0/HelloWorld.runtimeconfig.json
DotNet/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
DotNet/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
DotNet/HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
DotNet/HelloWorld/obj/project.assets.json
DotNet/HelloWorld/obj/project.nuget.cache
DotNet/HelloWorld/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/HelloWorld/obj/Debug/net7.0/apphost.exe
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.AssemblyInfo.cs
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.AssemblyInfoInputs.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.assets.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.csproj.AssemblyReference.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.csproj.CoreCompileInputs.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.csproj.FileListAbsolute.txt
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.dll
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.genruntimeconfig.cache
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.GlobalUsings.g.cs
DotNet/HelloWorld/obj/Debug/net7.0/HelloWorld.pdb
DotNet/HelloWorld/obj/Debug/net7.0/ref/HelloWorld.dll
DotNet/HelloWorld/obj/Debug/net7.0/refint/HelloWorld.dll
