DotNet/HelloWorld/bin
DotNet/HelloWorld/obj
DotNet/PalindromeDetectCSharp/bin
DotNet/PalindromeDetectCSharp/obj
DotNet/NumberGuessingGame/obj
DotNet/NumberGuessingGame/bin
DotNet/Object-Oriented/obj
DotNet/Object-Oriented/bin
DotNet/FileAccess/obj
DotNet/FileAccess/bin
DotNet/DateAndTime/obj
DotNet/DateAndTime/bin
DotNet/DateAndTime/.vscode
DotNet/ExceptionHandling/.vscode
DotNet/ExceptionHandling/obj
DotNet/ExceptionHandling/bin
DotNet/AspNetCalulator/.vscode
DotNet/AspNetCalulator/obj
DotNet/AspNetCalulator/bin
DotNet/BlazorHelloWorld/obj
DotNet/BlazorHelloWorld/.vscode
DotNet/BlazorHelloWorld/bin/Debug/net7.0/BlazorHelloWorld.dll
DotNet/BlazorHelloWorld/bin/Debug/net7.0/BlazorHelloWorld.pdb
DotNet/BlazorHelloWorld/bin/Debug/net7.0/wwwroot/_framework/blazor.boot.json
DotNet/BlazorHelloWorld/bin/Debug/net7.0/wwwroot/_framework/BlazorHelloWorld.dll
DotNet/BlazorHelloWorld/bin/Debug/net7.0/wwwroot/_framework/BlazorHelloWorld.dll.gz
DotNet/BlazorHelloWorld/bin/Debug/net7.0/wwwroot/_framework/BlazorHelloWorld.pdb
DotNet/BlazorHelloWorld/bin/Debug/net7.0/wwwroot/_framework/BlazorHelloWorld.pdb.gz
